.BackgroundVideo-section {
  position: relative;
  overflow: hidden;
  height: 40rem;
}

/* Start Custom Class */
.BackgroundVideo-section-fullHeight {
  position: relative;
  overflow: hidden;
  /* .Nav--Container = 6rem/6vh; */
  height: 94vh;
}
/* End Custom Class  */

.BackgroundVideo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.BackgroundVideo video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.BackgroundVideo--video {
  transition: all 0.2s ease;
  opacity: 0;
}
.BackgroundVideo--video.playing {
  opacity: 1;
}

.BackgroundVideo--videoTitle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.Poster--videoTitle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

/* START CUSTOM CSS */
.BackgroundVideo--videoSubTitle {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--lightGrey);
  font-weight: 600;
  text-shadow: 1px 1px 1px grey;
}

.Poster--videoSubTitle {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translate(0, -50%);
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.BackgroundVideo--videoTitle__link {
  color: yellow;
  background-color: var(--darkGrey);
  border: 4px solid yellow;
  padding: 1rem;
  text-decoration: none;
}
/* END CUSTOM CSS */
